@using Tracking.Entities.Concrete;
@model ListAndCustomerModel

<div class="container">
	<p class="right">
		<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="mdo">Müşteri Ekle</button>
		<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">New message</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<form method="post">
					<div class="modal-body">
						
							<div class="form-group">
								<label for="recipient-name" class="col-form-label">Isim:</label>
								<input type="text" class="form-control" name="name">
							</div>
							<div class="form-group">
								<label for="message-text" class="col-form-label">Soyisim:</label>
								<input type="text" class="form-control" name="surName"></input>
							</div>
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">Lists:</label>
                                <select class="form-select  form-control" aria-label="Default select example" name="ListId">
                                    @foreach (var l in Model.lists)
                                    {
                                        <option value="@l.Id">@l.Name</option>
                                    }
                                </select>
                            </div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						<button type="submit" class="btn btn-primary">Ekle</button>
					</div>
					</form>
				</div>
			</div>
		</div>
	</p>
	<table class="table">
		<thead class="thead-dark">
			<tr>
				<th scope="col">#</th>
				<th scope="col">İsim</th>
				<th scope="col">Soyisim</th>
				<th scope="col">ListName</th>
				<th scope="col">Edit</th>
			</tr>
		</thead>
		<tbody>

			@foreach (var item in Model.customers)
			{
		   <tr>
			<th scope="row">@item.Id</th>
			<td>@item.Name</td>
			<td>@item.SurName</td>
			<td>@Model.lists.Where(x => x.Id == item.ListId).Select(x => x.Name).FirstOrDefault()</td>
			<td>
				<a class="btn btn-danger btn-sm" href="javascript:deleteCustomer(@item.Id)">Sil</a> 
				<a class="btn btn-warning btn-sm" href="/Customer/Update?id=@item.Id">Güncelle</a></td>
		   </tr>
			}

  </tbody>
 </table>
</div>
    <script src="~/js/Customer.js"></script>

